<a href="https://colab.research.google.com/github/ch00226855/CMP414765Fall2022/blob/main/Homework03_LinearRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 3

In this homework assignment, we will further explore the **linear regression** model for regression tasks.

Please submit your solutions as a PDF file to Blackboard by **Wednesday, March 28th at 11:59 PM**.

Goal: Train a linear regression model using the normal equation and verify that the results coincide with the results from `sklearn`.

We will use the advertisement revenue data used in Week 3 notebook and build a linear regression model on `radio` and `sales`.

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

1. Extract the `radio` column and the `sales` column as a new data frame named `data`.

In [2]:
url = "https://www.statlearning.com/s/Advertising.csv"
advertising = pd.read_csv(url, index_col=0)

In [3]:
# check the data frame
advertising[:3]

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3

In [4]:
data = advertising[["radio", "sales"]].copy()

2. Build a linear regression model ("lrm") that predicts `sales` with the `radio` feature using `sklearn`. Display the model's parameter values.

Quirk of the `LinearRegression()` class: the `fit(training_data, data_to_predict)` method expects:
- `training_data` to be a 2D array (or a matrix)
- `data_to_predict` to be a 1D array

Note: The dependent variables are the features used to train the model while the independent variable is the variable to predict.

In [5]:
lrm = LinearRegression().fit(data[["radio"]], data["sales"])

Get the predictions using the `training_data` as samples

In [6]:
data["sales_sklearn"] = lrm.predict(data[["radio"]])

In [7]:
data[:3]

   radio  sales  sales_sklearn
1   37.8   22.1      16.965979
2   39.3   10.4      17.269722
3   45.9    9.3      18.606195

In [8]:
# display the model's parameter values
print(f"θ₀ + θ₁: {lrm.intercept_} + {lrm.coef_[0]}")

θ₀ + θ₁: 9.311638095158283 + 0.20249578339243965

3. Calculate the parameter values using the normal equation below. These values should be the same as the values shown in Step 2.
$$\hat{\theta} = \big(\textbf{X}^T\cdot\textbf{X}\big)^{-1}\cdot\textbf{X}^T\cdot\textbf{y}$$
- the $\textbf{X}$ symbol represents the feature vector in the form: $[1, x_1, ..., x_n]$
- the $\textbf{y}$ symbol represents the independent variable
- the $\cdot$ symbol represents the inner-product of two vectors

In [9]:
# create the feature vector
x1 = np.ones([len(data), 1])
x2 = data[["radio"]].values
X = np.hstack([x1, x2])
X[:3]

array([[ 1. , 37.8],
       [ 1. , 39.3],
       [ 1. , 45.9]])

In [10]:
# get the independent variable
y = data[["sales"]].values

In [11]:
# apply the normal equation to find theta
theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

In [12]:
# display the model's parameter values
print(f"θ₀ + θ₁: {theta[0][0]} + {theta[1][0]}")

θ₀ + θ₁: 9.311638095158296 + 0.2024957833924393

Make the predictions using the equation below.
$$predictions = \theta_0 + \theta_1 x_1 + \theta_2 x_2 + ... + \theta_n x_n$$

In [13]:
data["sales_equation"] = theta[0][0] + (theta[1][0] * data["radio"])

In [14]:
data[-3:]

     radio  sales  sales_sklearn  sales_equation
198    9.3   12.8      11.194849       11.194849
199   42.0   25.5      17.816461       17.816461
200    8.6   13.4      11.053102       11.053102

4. Calculate the MSE of the linear model using the `mean_squared_error` function from `sklearn`.

In [15]:
mean_squared_error(data["sales"], data["sales_sklearn"])

18.09239774512544

In [16]:
mean_squared_error(data["sales"], data["sales_equation"])

18.09239774512544